h1,h2,h3,h4,h5,h6 {
    font-family: 'Ma Shan Zheng', cursive;
}

p,a,input,label,textarea,span,ul,li {
    font-family: 'Noto Sans SC', sans-serif;
}
header nav img {
    width: 100px;
}

header li {
    margin: 0 10px;
}
#intro .jumbotron {
    height: 70vh;
}

#intro .container {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#intro h1 {
    font-size: 52px;
    font-weight: 400;
    line-height: 1.5;
}

.btn {
    background: #f05f5c;
    color: white;
    padding: 9px 26px;
    border-radius: 20px;
}